<EditForm Model="@brand" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <fieldset disabled="@Disabled">

        <div class="form-group">
            <label>Name:</label>
            <div>
                <InputText @bind-Value="@brand.Name" class="form-control" />
                <ValidationMessage For="@(()=>brand.Name)" />
            </div>
        </div>

    </fieldset>

    @if (!Disabled)
    {
        <button type="submit" class="btn btn-success btn-block">@ButtonText</button>
    }

    <BackToList Target="brands" />

</EditForm>

@code{

}